src/conf/xml-resources/web-service-references/calculator/wsdl/localhost_8080/wsprovider/Calculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="Calculator">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/wsprovider/Calculator?xsd=1"/>
</xsd:schema>
</types>
<message name="multiplyNumber">
<part name="parameters" element="tns:multiplyNumber"/>
</message>
<message name="multiplyNumberResponse">
<part name="parameters" element="tns:multiplyNumberResponse"/>
</message>
<message name="substractNumber">
<part name="parameters" element="tns:substractNumber"/>
</message>
<message name="substractNumberResponse">
<part name="parameters" element="tns:substractNumberResponse"/>
</message>
<message name="addNumber">
<part name="parameters" element="tns:addNumber"/>
</message>
<message name="addNumberResponse">
<part name="parameters" element="tns:addNumberResponse"/>
</message>
<message name="divideNumber">
<part name="parameters" element="tns:divideNumber"/>
</message>
<message name="divideNumberResponse">
<part name="parameters" element="tns:divideNumberResponse"/>
</message>
<portType name="Calculator">
<operation name="multiplyNumber">
<input wsam:Action="http://ws/Calculator/multiplyNumberRequest" message="tns:multiplyNumber"/>
<output wsam:Action="http://ws/Calculator/multiplyNumberResponse" message="tns:multiplyNumberResponse"/>
</operation>
<operation name="substractNumber">
<input wsam:Action="http://ws/Calculator/substractNumberRequest" message="tns:substractNumber"/>
<output wsam:Action="http://ws/Calculator/substractNumberResponse" message="tns:substractNumberResponse"/>
</operation>
<operation name="addNumber">
<input wsam:Action="http://ws/Calculator/addNumberRequest" message="tns:addNumber"/>
<output wsam:Action="http://ws/Calculator/addNumberResponse" message="tns:addNumberResponse"/>
</operation>
<operation name="divideNumber">
<input wsam:Action="http://ws/Calculator/divideNumberRequest" message="tns:divideNumber"/>
<output wsam:Action="http://ws/Calculator/divideNumberResponse" message="tns:divideNumberResponse"/>
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="multiplyNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substractNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="divideNumber">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Calculator">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:8080/wsprovider/Calculator"/>
</port>
</service>
</definitions>